.gradient {
    /* Create a linear gradient background */
    background-image: linear-gradient(to right, #750877, #FFFFFF);

    /* Set background-clip to text */
    -webkit-background-clip: text;
    background-clip: text;

    /* Set transparent text color */
    color: transparent;
}
